h1 {
  font-size: 90px;
  color: white;
  text-align: center;
  font-family: "Permanent Marker";
  margin-top: 2px;
  margin-bottom: 4px;
}

body {
  background-color:  #262626 ;
}

h2 {
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  color: white;
}

h3 {
  font-family: "Permanent Marker";
  color: white;
  font-size: 40px;
  margin-top: 1px;
  margin-bottom: 5px;
  text-align: center;
}

h6 {
  font-family: "Permanent Marker";
  color: white;
  font-size: 25px;
  margin-top: 1px;
  margin-bottom: 5px;
  text-align: center;
}

h4 {
  margin-top: 0px;
  font-family: "Raleway";
  font-style: italic;
  color: white;
  text-align: center;
  font-size: 15px;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

h5 {
  margin-top: 45px;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Raleway";
  color: white;
  font-size: 20px;
}

p {
  text-align: center;
  font-family: "Raleway";
  color: white;
}

.nav-bar {
  font-size: 10px;
  text-align: center;
  margin: 10px;
  margin-top: 40px;
}

.nav-bar-link {
  text-decoration: none;
  font-family: "Raleway";
  padding: 33px;
  padding-bottom: 5px;
  color: white;
  font-size: 13px;
  transition: all 0.5s ease;
}

.nav-bar-link:hover {
  text-decoration: none;
  color: #82d973;
  font-weight: bold;
}

.login-SignUp-form-Div {
  padding: 10px;
  display: block;
  font-family: "Raleway";
  align-items: center;
}

.login-SignUp-form {
  color: white;
  padding-left: 15px;
  align-items: center;
  background: none;
  justify-content: center;
  width: 270px;
  height: 30px;
  margin: auto;
  margin-bottom: 1%;
  display: block;
  border: white solid 3px;
  border-radius: 15px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.login-SignUp-form:hover {
  border: #82d973 3px;
  background: black;
}

.login-Signup-btn {
  text-decoration: none;
  font-family: "Raleway";
  color: white;
  background: none;
  justify-content: center;
  width: 270px;
  height: 30px;
  margin: auto;
  display: block;
  border: white solid 3px;
  border-radius: 15px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.login-Signup-btn:hover {
  background: #82d973;
  text-decoration: none;
  border: #82d973 solid 3px;
  color: black;
}

.genre-name {
  text-align: center;
}

.Questionnaire-form-div {
  padding: 10px;
  display: block;
  align-items: center;
}

.genre-form-container {
  font-family: "Raleway";
  color: white;
  padding: 2px 2px 2px;
  align-items: center;
  background: none;
  justify-content: center;
  width: 270px;
  height: 30px;
  margin: auto;
  margin-bottom: 1%;
  display: block;
  border: white solid 3px;
  border-radius: 15px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.genre-form-container:hover {
  border: #82d973 3px;
  background: black;
  padding: 2px 2px 2px;
}


.customize-playlist-form {
  justify-content: center;
  margin: auto;
}

.customize-playlist-button {
  background: none;
  font-family: "Raleway";
  color: white;
  justify-content: center;
  width: 270px;
  height: 30px;
  margin: auto;
  display: block;
  border: white solid 3px;
  border-radius: 15px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.customize-playlist-button:hover {
  background: #82d973;
  text-decoration: none;
  border: #82d973 solid 3px;
  color: black;
}

.goal-card-container {
	background: none;
  border: solid 10px;
  border-color: #383838;
	border-radius: 20px;
	width: 230px;
	height: 200px;
	display: inline-grid;
	margin: 1rem 1rem;
  transition: transform .6s;
  transition: all 0.10s ease;
}

.goal-card-container:hover {
  color: black;
  border: solid 10px;
  border-color: #82d973 ;
  cursor: pointer;
  background: none;
  transform: scale(1.1);
}

.intro-new-user {
  margin-top: 50px;
  margin-bottom: 10px;
}

.all-cards {
  align-content: center;
  justify-content: center;
  display: inline-grid;
  display: block;
  margin-left: 50px;
  margin-right: 50px
}

.info-p {
  display:inline;
  word-wrap: break-word;
  width: 300px;
  float: left;
  align-content: center;
  margin-left: 70px;
  margin-top: 10px;
  text-align: start;
}

.song-info {
  align-items: baseline;
}
.song-btn {
  align-content: center;
  display:inline;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.song-btn:hover {
  align-content: center;
  background: #82d973;
  display:inline;
  margin-left: 0px;
  margin-top: 14.9px;
  margin-bottom: 10px;
}

.categories {
  margin-top: 40px;
}

.song-btn-2 {
  align-content: center;
  display:inline;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: none !important;
  color: #262626;
}

.songs-div {
  align-content: center;
}