h1 {
  font-size: 70px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 20px;
}

p {
  text-align: center;
}

.nav-bar {
  font-size: 10px;
  text-align: center;
  margin: 20px;
}

.nav-bar-link {
  padding: 45px;
  font-size: 13px;

}

.login-SignUp-form-Div {
  padding: 45px;
  display: block;
  justify-content: center;
}

.login-SignUp-form {
  justify-content: center;
  width: 320px;
  height: 30px;
  margin: auto;
  display: block;
  border-radius: 8px;
  box-sizing: border-box;
}

.login-Signup-btn {
  justify-content: center;
  width: 320px;
  height: 30px;
  margin: auto;
  display: block;
  border-radius: 8px;
  box-sizing: border-box;
}

.genre-name {
  text-align: center;
}

.Questionnaire-form-div {
  justify-content: center;
  margin: auto;
  display: block;
}

.genre-form-container {
  justify-content: center;
  width: 320px;
  height: 30px;
  margin: auto;
  display: block;
  border-radius: 8px;
  box-sizing: border-box;
}

.customize-playlist-form {
  justify-content: center;
  margin: auto;
}

.customize-playlist-button {
  justify-content: center;
  width: 320px;
  height: 30px;
  margin: auto;
  display: block;
  border-radius: 8px;
  box-sizing: border-box;
}

.goal-card-container {
  display: block;
	justify-content: center;
	text-align: center;
	background: grey;
	border-radius: 20px;
	width: 15rem;
	height: auto;
	display: inline-grid;
	margin: 1rem 2rem;
}

.goal-card-container:hover {
  cursor: pointer;
}